<nav>
	<div class="inner-nav">
		<a class="logo" href="/member">
			Putinto
		</a>
		<div class="right">
			<a href="/member/<%= Member.find(session[:member]).id %>" class="nav-text"><%= Member.find(session[:member]).name %></a>
			<a href="/member/signout" class="nav-text">Signout</a>
		</div>
	</div>
</nav>
<div class="main-box">
  <div class="error-images">
    <% @error_images.each do |error_image| %>
      <img src="<%= error_image.image %>" alt="" width="348px" height="218px">
    <% end %>
  </div>
  <div class="error-contents">
    <h2 class="title">何をしようとして？</h2>
    <p class="text"><%= @error.want %></p>

    <h2 class="title">どのタイミングで？</h2>
    <p class="text"><%= @error.timing %></p>

    <h2 class="title">何が起きた？</h2>
    <p class="text"><%= @error.detail %></p>

    <h2 class="title">予測したこと。試してみたこと</h2>
    <p class="text"><%= @error.challenge %></p>

    <h2 class="title">参考記事</h2>
    <p class="text"><%= @error.article %></p>
  </div>

  <% if @solution %>
    <div class="solution-images">
      <% @solution_images.each do |solution_image| %>
        <img src="<%= solution_image.image %>" alt="" width="348px" height="218px">
      <% end %>
    </div>
    <div class="solution-contents">
      <h2 class="title">参考記事</h2>
      <p class="text"><%= @solution.article %></p>

      <h2 class="title">取り組んで欲しいこと</h2>
      <p class="text"><%= @solution.detail %></p>
    </div>
  <% end %>
</div>