<nav>
	<div class="inner-nav">
		<a class="logo" href="/">
			<%# <img src="/assets/images/counting_stars_logo2.png"> %>
		</a>
		<div class="left">
				<div class="mypage">
					<a href="/member/<%= Member.find(session[:member]).id %>"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= Member.find(session[:member]).name %></a>
				</div>
				<a href="/member/signout">Signout</a>
		</div>
	</div>
</nav>
<table border="1" cellpadding="6" cellspacing="0">
 <caption>質問詳細</caption>
  <tr>
    <th>何をしようとして</th>
    <th>どのタイミングで</th>
    <th>何が起きた</th>
		<th>予測したこと。試してみたこと</th>
		<th>参考記事</th>
		<th>重要度</th>
		<th>画像</th>
  </tr>
  <tr>
    <td><%= @error.want %></td>
    <td><%= @error.timing %></td>
    <td><%= @error.detail %></td>
    <td><%= @error.challenge %></td>
    <td><%= @error.article %></td>
    <td><%= @error.rank %></td>
  </tr>
  <div style="display:flex;">
    <% @error_images.each do |error_image| %>
      <img src="<%= error_image.image %>" alt="" width="300px">
      <p><%= error_image.error_id %></p>
    <% end %>
  </div>
</table>