<nav>
	<div class="inner-nav">
		<a class="logo" href="/mentor">
			Putinto
		</a>
		<div class="right">
			<a href="/mentor/<%= Mentor.find(session[:mentor]).id %>" class="nav-text"><%= Mentor.find(session[:mentor]).name %></a>
			<a href="/mentor/signout" class="nav-text">Signout</a>
		</div>
	</div>
</nav>

<div class="main-box">
  <div class="left-box">
    <div class="user-info">
      <img src="<%= Member.find(@error.member_id).image %>" alt="" class="user-image">
      <h2 class="user-name"><%= Member.find(@error.member_id).name %></h2>
    </div>
    <div style="display:flex;" class="error-images">
    <% @error_images.each do |error_image| %>
      <img src="<%= error_image.image %>" alt="" width="455px" height="285px">
    <% end %>
    </div>
    <div class="error-contents">
      <h2 class="title">何をしようとして？</h2>
      <p class="text"><%= @error.want %></p>

      <h2 class="title">どのタイミングで？</h2>
      <p class="text"><%= @error.timing %></p>

      <h2 class="title">何が起きた？</h2>
      <p class="text"><%= @error.detail %></p>

      <h2 class="title">予測したこと。試してみたこと</h2>
      <p class="text"><%= @error.challenge %></p>

      <h2 class="title">参考にした記事</h2>
      <p class="text"><%= @error.article %></p>
    </div>
  </div>

  <div class="right-box">
    <% if @solution%>
      <div class="user-info">
        <img src="<%= Mentor.find(@solution.mentor_id).image %>" alt="" class="user-image">
        <h2 class="user-name"><%= Mentor.find(@solution.mentor_id).name %></h2>
      </div>
      <div style="display:flex;" class="error-images">
      <% @solution_images.each do |solution_image| %>
        <img src="<%= solution_image.image %>" alt="" width="455px" height="285px">
      <% end %>
      </div>
      <div class="error-contents">
        <h2 class="title">参考にして欲しい記事</h2>
        <p class="text"><%= @solution.article %></p>

        <h2 class="title">取り組んで欲しいこと</h2>
        <p class="text"><%= @solution.detail %></p>
      </div>
      <% else %>
      <form action="/mentor/detail/<%= @error.id %>" method="post" enctype="multipart/form-data" class="new">
        <h2 class="title">参考にした記事</h2>
        <input type="text" name="article" class="textarea" placeholder="参考にして欲しい記事（URL）"><br>
        <h2 class="title">取り組んでみて欲しいこと</h2>
        <textarea name="detail" cols="40" rows="10" placeholder="取り組んで欲しいこと&#13;&#10;&#13;&#10;例&#13;&#10;カウント教科書のP10をよく読んでスペル気にしてみて&#13;&#10;firebaseの登録しっかりできてるか確認してみて" class="textarea"></textarea><br>
        <h2 class="title">スクリーンショット</h2>
        <input type="file" name="file[]" multiple="multiple"　accept="image/*"class="new-page_input"> <br>
        <input type="submit" value="send" class="main-button">
        </form>
      <% end %>
  </div>
</div>
