<nav>
	<div class="inner-nav">
		<a class="logo" href="/mentor">
			Putinto
		</a>
		<div class="right">
			<a href="/mentor/<%= Mentor.find(session[:mentor]).id %>" class="nav-text"><%= Mentor.find(session[:mentor]).name %></a>
			<a href="/mentor/signout" class="nav-text">Signout</a>
		</div>
	</div>
</nav>

<div class="main-box">
	<div class="cards">
		<% @errors.each do |error| %>
			<div class="card">
			<a href="/mentor/solution/<%= error.id %>">
				<div class="card-contents"
				style="<% case error.rank  %><% when 1 then %>border-left:8px solid #33cccc;<% when 2 then %>border-left:8px solid #fef100;<% when 3 then %>border-left:8px solid #ff0000;<% else %>border-left:8px solid #ccc;<% end %>">
					<div class="error-box">
						<p class="card-text want"><%= error.want %></p>
						<p class="card-text timing"><%= error.timing %></p>
						<p class="card-text detail"><%= error.detail %></p>
						<p class="date-and-time"><%= error.created_at %></p>
					</div>
					<div class="user-box">
						<img src="<%= Member.find(error.member_id).image %>" alt="" class="member-image">
						<p class="member-name"><%= Member.find(error.member_id).name %></p>
					</div>
				</div>
			</div>
			</a>
		<% end %>
	</div>
</div>
